.card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 24rem;
  height: auto;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.title {
  padding: 1rem 0;
  color: black;
  font-size: 1.5rem;
}

.description {
  padding: 1rem 0;
  color: grey;
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartButton {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cartButton:hover {
  background-color: var(--accent);
  transform: translateY(-2px);
  cursor: pointer;
}
